/node_modules
.env
build
build/asset-manifest.json
build/index.html
/.idea
/.idea/modules.xml
/.idea/vcs.xml
/.idea/zed-merchant.iml
/.idea/misc.xml
/.idea/inspectionProfiles/Project_Default.xml
data.txt
Documents
/.idea/jsLibraryMappings.xml
logs
log
testCode.js
Deploy
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.prettierrc
/src/components/login/gg.js
/src/components/Dashboard/tt.js
/src/components/login/ewveber.js
/config/credentials.json
/config/service-account.json
/package-lock.json
uploads
/staticimages/events 
/staticimages
.idea/php.xml
.install.sh